p.Head {
    font-family: "Times New Roman";
    margin: 10px 0 0 10px;
    white-space: nowrap;
    width: 100vw;
    animation: animateP 1.5s steps(90, end); 
    text-align: center;
  }
#Title {
  color: rgb(250, 192, 255); 
  font-size: 40px;
}

#SubTitle {
  color: pink; 
  font-size: 20px;
  text-align: center;
}

@keyframes animateP{ 
  from { width: 120vh; } 
} 

h1 {
  text-align: center;
  font-size: 40px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
table {
  width: 100%;
  margin: 0px 0px 0px 0px;
}
form {
  width: 47vw;
  border: 1px solid black;
  padding: 0px 0px 0px 0px;
  height: 70vh;
}

#Registerform {
  float: left;
  visibility: hidden;
  margin: 5px 5px 5px 5px;
}

#PlayForm {
  float: right;
  margin: 5px 5px 5px 5px;
}

label#text {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
}

#Register {
  margin: 0em 0em 0em 0em;
  height: 3vh;
  width: auto;
  text-align: center;
}
div#message {
  margin: 5px 0px 3px 0px;
  text-align: center;
  font-size: 18px;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.rightDiv {
  text-align: right;
  width: 60%;
  margin: 0px 0px 5px 0px;
}

.inputtext {
  float: right;
  padding: 0em 0em 0em 0em;
  clear: both;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.Error {
  margin: 2px 0px 0px 0px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

div#submit {
  text-align: center;
}


p {
  font-size: 18px;
  font-family: 'Arial';
}
